SmsStatisticForNamDong/Connected Services/SmsService/smsbrandname.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuiMotHoacNhieuTin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="tns:ArrayOfNmnMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNmnMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NmnMsg" nillable="true" type="tns:NmnMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NmnMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenKhachHang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuiMotHoacNhieuTinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuiMotHoacNhieuTinResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuiMotNoiDungNhieuSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenKhachHang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuiMotNoiDungNhieuSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuiMotNoiDungNhieuSoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DayDuLieu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="adminUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adminPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reqId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labelId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contractId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contractTypeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="num" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scheduleTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isTelcoSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apiUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apiPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DayDuLieuResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuiMotHoacNhieuTinSoapIn">
    <wsdl:part name="parameters" element="tns:GuiMotHoacNhieuTin" />
  </wsdl:message>
  <wsdl:message name="GuiMotHoacNhieuTinSoapOut">
    <wsdl:part name="parameters" element="tns:GuiMotHoacNhieuTinResponse" />
  </wsdl:message>
  <wsdl:message name="GuiMotNoiDungNhieuSoSoapIn">
    <wsdl:part name="parameters" element="tns:GuiMotNoiDungNhieuSo" />
  </wsdl:message>
  <wsdl:message name="GuiMotNoiDungNhieuSoSoapOut">
    <wsdl:part name="parameters" element="tns:GuiMotNoiDungNhieuSoResponse" />
  </wsdl:message>
  <wsdl:message name="DayDuLieuSoapIn">
    <wsdl:part name="parameters" element="tns:DayDuLieu" />
  </wsdl:message>
  <wsdl:message name="DayDuLieuSoapOut">
    <wsdl:part name="parameters" element="tns:DayDuLieuResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsBrandnameSoap">
    <wsdl:operation name="GuiMotHoacNhieuTin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gửi một hoặc nhiều tin</wsdl:documentation>
      <wsdl:input message="tns:GuiMotHoacNhieuTinSoapIn" />
      <wsdl:output message="tns:GuiMotHoacNhieuTinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuiMotNoiDungNhieuSo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gửi một nội dung đến nhiều số</wsdl:documentation>
      <wsdl:input message="tns:GuiMotNoiDungNhieuSoSoapIn" />
      <wsdl:output message="tns:GuiMotNoiDungNhieuSoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DayDuLieu">
      <wsdl:input message="tns:DayDuLieuSoapIn" />
      <wsdl:output message="tns:DayDuLieuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsBrandnameSoap" type="tns:SmsBrandnameSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuiMotHoacNhieuTin">
      <soap:operation soapAction="http://tempuri.org/GuiMotHoacNhieuTin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMotNoiDungNhieuSo">
      <soap:operation soapAction="http://tempuri.org/GuiMotNoiDungNhieuSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayDuLieu">
      <soap:operation soapAction="http://tempuri.org/DayDuLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsBrandnameSoap12" type="tns:SmsBrandnameSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuiMotHoacNhieuTin">
      <soap12:operation soapAction="http://tempuri.org/GuiMotHoacNhieuTin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMotNoiDungNhieuSo">
      <soap12:operation soapAction="http://tempuri.org/GuiMotNoiDungNhieuSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayDuLieu">
      <soap12:operation soapAction="http://tempuri.org/DayDuLieu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsBrandname">
    <wsdl:port name="SmsBrandnameSoap" binding="tns:SmsBrandnameSoap">
      <soap:address location="http://sms.vnpthue.com.vn/ws/smsbrandname.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsBrandnameSoap12" binding="tns:SmsBrandnameSoap12">
      <soap12:address location="http://sms.vnpthue.com.vn/ws/smsbrandname.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>